<html>
<header data-role="main-portal-header">

  <link href="https://www.48months.ie/assets/css/810304d319caf5c67101dbfdc075e9f1.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/responsive-ux-post-matesrates.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/kickback-responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/matesrates-responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/jquery.smartbanner.css" media="screen" rel="stylesheet" type="text/css" />
   

<section>
<div class="logo">
<a href="/">
<img src="https://www.48months.ie/css/ux2/img/logo.png" alt="Website logo"/>
</a>
<div class="backlink">
<!-- <a href="/" onclick="back()">Back</a> -->
</div>
<div class="backlink_text">
<a href="/" onclick="back()"><u><font color="white">Back</font></u></a>
</div> 
</div>


</section>
</header>


<body>
<div style="margin-top: 20px;">
  <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>
  
  <script type="text/javascript" src="https://www.48months.ie/assets/js/8e2e5b2788035d465a2306f7fc2ae913.js"></script>  
  <link href="https://www.48months.ie/assets/css/bd491a3173c2319f65690fc1a1770389.css" media="screen" rel="stylesheet" type="text/css" />

     <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAWQU_gn5iAeKio6mNTRmJPZ23shpv5OIY",
        authDomain: "months-b9894.firebaseapp.com",
        databaseURL: "https://months-b9894.firebaseio.com",
        projectId: "months-b9894",
        storageBucket: "months-b9894.appspot.com",
        messagingSenderId: "819966739849"
      };
      firebase.initializeApp(config);
    </script>
     

<p class="largest">
      
      <br><br>
			<b>Enter your details in the form below</b>
			<br /><br />
		</p>
		
    <!--<form id='orderdetails'>
       <div class ="details">-->
       
        <form #userForm="ngForm" (ngSubmit)="submit(userForm)">
        <label>Name:&nbsp;&nbsp;&nbsp;</label><input required
        minlength="8"
        maxlength="20"
       type="text"  
        name="name" 
         style="width: 300px;"
         ngModel
          #name="ngModel">
          <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
            <p *ngIf="name.errors.required">Name is Required!</p>
            <p *ngIf="name.errors.minlength">Name must be atleast {{ name.errors.minlength.requiredLength }} Characters Long!</p>
            <p *ngIf="name.errors.pattern">Name can only be of pattern {{ name.errors.pattern.requiredPattern }}!</p>
          </div>
      
      
       <br><br><br><label>Mobile number:&nbsp;&nbsp;&nbsp;</label><input type="number" name = "mobile" id="mobile" style="width: 300px;" ngModel>
       <br><br><br><label>E-mail:&nbsp;&nbsp;&nbsp;</label><input type="email" name = "email" id="email" style="width: 300px;" ngModel>
       <br><br><br><label>D.no:&nbsp;&nbsp;&nbsp;</label><input type="text" name= "door_no" id="door_no" style="width: 300px;" ngModel>
       <br><br><br><label>Street:&nbsp;&nbsp;&nbsp;</label><input type="text" name= "street" id="street" style="width: 300px;"  ngModel>
       <br><br><br><label>Locality:&nbsp;&nbsp;&nbsp;</label><input type="text" name = "Locality" id="locality" style="width: 300px;" ngModel>
       <br><br><br><label>city:&nbsp;&nbsp;&nbsp;</label><input type="text" name = "city" id= "city" style="width: 300px;"  ngModel>
       <br><br><br><label>pincode:&nbsp;&nbsp;&nbsp;</label><input type="number" name = "pincode" id="pincode" style="width: 300px;" ngModel>
       <br><br><br><label>State:&nbsp;&nbsp;&nbsp;</label><input type="text" name = "state" id="state" style="width: 300px;" ngModel>
       
        
       <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>
      
      
      
       <br><br><br><button type="submit" class="btn1"  [disabled]="userForm.invalid">Order a Free Sim</button>

       <!--(click)="onOrderFreeSim();onSubmit()"-->

         <!--<script type="text/javascript" src="src/app/fe/pages/landing/free-sim/main.js"></script>-->
       <!--<br><br><br><button type="submit" class="btn1" (click)="navigateToConform()"><a href="/welcome">Order a Free Sim</a></button>-->

       <pre> {{ userForm.value | json }} </pre>
  </form>




<!--<div class="container">
        <div class="row">
          
            <div class="col-5">
            <form>
              <div id="user-data">
                <div class="form-group">
                  <label for="username">Name</label>
                  <input type="text" id="username" class="form-control">
                </div>
                <div class="form-group">
                  <label for="email">Mail</label>
                  <input type="email" id="email" class="form-control">
                </div>
              
              <div class="form-group">
                <label for="mobile">Mobile Number</label>
                <input type="number" id="mobile" class="form-control">
              </div>
            
              
            <div class="form-group">
              <label for="door.no">Door No.</label>
              <input type="number" id="door.no" class="form-control">
            </div>
          
          <div class="form-group">
            <label for="Street">Street</label>
            <input type="text" id="door.no" class="form-control">
          </div>
        
        <div class="form-group">
          <label for="locality">Locality</label>
          <input type="text" id="locality" class="form-control">
        </div>
      
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" id="city" class="form-control">
      </div>
      
      <div class="form-group">
        <label for="pincode">Pincode</label>
        <input type="number" id="pincode" class="form-control">
      </div>
      
      <div class="form-group">
        <label for="state">State</label>
        <input type="text" id="pincode" class="form-control">
      </div>
      
              <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>-->

    
    
    </div>
    </body>
    </html>

    <footer data-role="main-portal-footer">

        
<section>
        <link href="https://www.48months.ie/assets/css/810304d319caf5c67101dbfdc075e9f1.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/responsive-ux-post-matesrates.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/kickback-responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/matesrates-responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/jquery.smartbanner.css" media="screen" rel="stylesheet" type="text/css" />
   

      
          
    <div class="left">
      <nav>
      <span class="footer_heading"><a href="https://staging.48months.ie/membership-plans">What's the deal?</a></span>
  
      <ul>
  
          <li>
          <a href="https://staging.48months.ie/who-is-48" title="What is 48?"><span>What is 48?</span></a>  
           <ul>
          <li><a href="https://www.48months.ie/who-is-48" title="Who is 48?"><span>Who is 48?</span></a></li>
            <li><a href="https://staging.48months.ie/who-is-48#why-is-48-different" title="Why is 48 different?"><span>Why is 48 different?</span></a></li>
      </ul>
      </li>
                                                                                                                                                        <li>
                                <a href="https://staging.48months.ie/how-to-join-48" title="Joining 48"><span>Joining 48</span></a>                                <ul>
                                                                                                                <li><a href="https://staging.48months.ie/how-to-join-48" title="How to join 48"><span>How to join 48</span></a></li>
                                                                            <li><a href="https://staging.48months.ie/free-sim" title="Order a free SIM"><span>Order a free SIM</span></a></li>
                                                                            <li><a href="https://staging.48months.ie/activate-sim" title="Activate a 48 SIM"><span>Activate a 48 SIM</span></a></li>
                                                                    </ul>
                            </li>
                                                                                                                                                        <li>
                                <a href="https://staging.48months.ie/membership-plans" title="Membership"><span>Membership</span></a>                                <ul>
                                                                                                                <li><a href="https://staging.48months.ie/membership-plans" title="Membership plans"><span>Membership plans</span></a></li>
                                                                            <li><a href="https://staging.48months.ie/membership-plans#extra48stuff" title="Extra 48 stuff"><span>Extra 48 stuff</span></a></li>
                                                                    </ul>
                            </li>
                                                                                                                                                        <li>
                                <a href="https://staging.48months.ie/matesrates/what-is" title="Mates Rates"><span>Mates Rates</span></a>                                <ul>
                                                                                                                <li><a href="https://staging.48months.ie/matesrates/what-is" title="What is Mates Rates"><span>What is Mates Rates</span></a></li>
                                                                            <li><a href="https://staging.48months.ie/matesrates/your-matesrates" title="Start earning"><span>Start earning</span></a></li>
                                                                    </ul>
                            </li>
                                                            </ul>
            </nav>
  
  
            <nav>
                                <span class="footer_heading"><a href="https://staging.48months.ie/my-48">My 48</a></span>
  
                <ul>
  
                                                                                                                                <li>
                                <a href="https://staging.48months.ie/my-48" title="My 48"><span>My 48</span></a>                                <ul>
                                                                                                                <li><a href="https://staging.48months.ie/my-48" title="My 48"><span>My 48</span></a></li>
                                                                            <li><a href="https://staging.48months.ie/matesrates/your-matesrates" title="My Mates Rates"><span>My Mates Rates</span></a></li>
                                                                            <li><a href="https://staging.48months.ie/my-48/change-my-sim" title="Change my SIM"><span>Change my SIM</span></a></li>
                                                                            <li><a href="https://staging.48months.ie/unlock-your-phone" title="Unlock my phone"><span>Unlock my phone</span></a></li>
                                                                            <li><a href="https://staging.48months.ie/my-48/my-data-settings" title="Update my data settings"><span>Update my data settings</span></a></li>
                                                                            <li><a href="https://staging.48months.ie/my-48/move-your-number" title="Move my number"><span>Move my number</span></a></li>
                                                                    </ul>
                            </li>
                                                                                                                                                        <li>
                                <a href="https://staging.48months.ie/matesrates/what-is" title="Mates Rates"><span>Mates Rates</span></a>                                <ul>
                                                                            <li><a href="https://staging.48months.ie/matesrates/what-is" title="What is Mates Rates"><span>What is Mates Rates</span></a></li>
                                                                            <li><a href="https://staging.48months.ie/matesrates/your-matesrates" title="My Mates Rates"><span>My Mates Rates</span></a></li>
                                                                            <li><a href="https://staging.48months.ie/matesrates/joins" title="Your friend joins"><span>Your friend joins</span></a></li>
                                                                            <li><a href="/matesrates/get-cash" title=""><span></span></a></li>
                                                                    </ul>
                            </li>
                                                                                                                                                        <li>
                                <a href="https://staging.48months.ie/membershop" title="Member Shop"><span>Member Shop</span></a>                                <ul>
                                                                            <li><a href="https://staging.48months.ie/membershop?cat=memberships" title="Buy membership"><span>Buy membership</span></a></li>
                                                                            <li><a href="https://staging.48months.ie/membershop?cat=addons" title="Buy add-ons"><span>Buy add-ons</span></a></li>
                                                                            <li><a href="https://staging.48months.ie/membershop?cat=topup" title="Top-up"><span>Top-up</span></a></li>
                                                                            <li><a href="https://staging.48months.ie/giftshop" title="Gift Shop"><span>Gift Shop</span></a></li>
                                                                    </ul>
                            </li>
                                                            </ul>
  
            </nav>
  
        </div>
  
        <div class="right">
  
            <nav class="about-footer-menu">
                                <span class="footer_heading"><a href="https://staging.48months.ie/boiler-plate/about-us">About 48</a></span>
                <ul>
  
                                                                                                                                <li>
                                <a href="https://staging.48months.ie/boiler-plate/about-us" title="About 48"><span>About 48</span></a>                                <ul>
                                                                            <li><a href="https://staging.48months.ie/boiler-plate/about-us" title="About us"><span>About us</span></a></li>
                                                                            <li><a href="https://staging.48months.ie/boiler-plate/contact-us" title="Contact us"><span>Contact us</span></a></li>
                                                                            <li><a href="https://staging.48months.ie/boiler-plate/sitemap" title="Sitemap"><span>Sitemap</span></a></li>
                                                                            <li><a href="https://staging.48months.ie/coverage-checker" title="Coverage Checker"><span>Coverage Checker</span></a></li>
                                                                    </ul>
                            </li>
                                                                                                                                                        <li>
                                                                            <a href="https://staging.48months.ie/boiler-plate/terms" title="Other 48 stuff"><span>Other 48 stuff</span></a>                                <ul>
                                                                            <li><a href="https://staging.48months.ie/boiler-plate/terms" title="Terms & Conditions"><span>Terms & Conditions</span></a></li>
                                                                            <li><a href="https://staging.48months.ie/boiler-plate/privacy" title="Privacy Policy"><span>Privacy Policy</span></a></li>
                                                                            <li><a href="https://staging.48months.ie/boiler-plate/code-of-practice" title="Code of Practice"><span>Code of Practice</span></a></li>
                                                                            <li><a href="https://staging.48months.ie/boiler-plate/accessibility" title="Accessibility"><span>Accessibility</span></a></li>
                                                                    </ul>
                            </li>
                                                            </ul>
            </nav>
  
            <nav class="help-footer-menu">
                                <span class="footer_heading"><a href="https://staging.48months.ie/help#check-out-our-FAQs">Help, 48 Community &amp; Support</a></span>
                <ul>
                                                                                                                                                    <li>
                                    <a href="https://staging.48months.ie/help" title="Find help with 48"><span>Find help with 48</span></a>                                    <ul>
                                    <li><a href="https://staging.48months.ie/help#check-out-our-FAQs" title="Check out our FAQs"><span>Check out our FAQs</span></a></li>
                                    <li><a href="https://staging.48months.ie/help#ask-the-48-community" title="Ask the 48 community"><span>Ask the 48 community</span></a></li>
                                    <li><a href="https://staging.48months.ie/help#contact-us" title="Contact Us"><span>Contact Us</span></a></li>
                                                                            </ul>
                                </li>
                                                                        <li>
                        <a target="_blank" href="https://www.facebook.com/48GoConquer">Be social</a>
                        <ul>
                            <li class="icon_facebook"><a target="_blank" href="https://www.facebook.com/48GoConquer">Chat on Facebook</a></li>
                            <li class="icon_twitter"><a target="_blank" href="https://www.twitter.com/48GoConquer">Chat on Twitter</a></li>
                        </ul>
                    </li>
                </ul>
  
  
                 <div data-role="award-container" class="clearfix">
    <div data-role="award-badge">
        <img src="https://www.48months.ie/css/img/badge.png" alt="Winner Best Practice Website Web Awards 2014" />
    </div>
    <div data-role="award-description">
        <span >
            <strong>Winner Best Practice Website </strong>
            <br />
            Web Awards 2014
        </span>
    </div>
  </div>
            </nav>
  
        </div>
  
        <div class="clear"></div>
  
    </section>
  
  </footer>