
<header data-role="main-portal-header">

  <link href="https://www.48months.ie/assets/css/810304d319caf5c67101dbfdc075e9f1.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/responsive-ux-post-matesrates.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/kickback-responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/matesrates-responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/jquery.smartbanner.css" media="screen" rel="stylesheet" type="text/css" />
   

<section>
<div class="logo">
<a href="/">
<img src="https://www.48months.ie/css/ux2/img/logo.png" alt="Website logo"/>
</a>
<div class="backlink">
<!-- <a href="/" onclick="back()">Back</a> -->
</div>
<div class="backlink_text">
<a href="/" onclick="back()"><u><font color="white">Back</font></u></a>
</div> 
</div>


</section>
</header>

<br><br><br><br><br>
<h2>

Dear customer, Congratulations!!! you've ordered a free sim successfully.
<br><br><br>your order ID is : {{order_id}}.
</h2>

<!--<p class="mega highlight">dear customer, Congratulations!!! thank you for ordering a free sim</p><br><p class="mega highlight">your order ID is : {{order_id}}.</p>-->