<main data-role="main-portal-content">

        <script type="text/javascript">
        var axel = Math.random() + "";
        var a = axel * 10000000000000;
        document.write('<iframe src="https://3499391.fls.doubleclick.net/activityi;src=3499391;type=landi317;cat=2016_0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
        </script><iframe src="https://3499391.fls.doubleclick.net/activityi;src=3499391;type=landi317;cat=2016_0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=2165690816910.4504?" width="1" height="1" frameborder="0" style="display:none"></iframe>
        <noscript>
        <iframe src="https://3499391.fls.doubleclick.net/activityi;src=3499391;type=landi317;cat=2016_0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
        </noscript>
       
        
        <div class="header-image" style="background-image: url(https://www.48months.ie/css/ux2/images/content-headers/homepage-header.png);"></div>
             
        <section id="homesection">
            
            
          <link href="/src/app/fe/assets/css/810304d319caf5c67101dbfdc075e9f1.css" media="screen" rel="stylesheet" type="text/css" />
          <link href="/src/app/fe/assets/css/ux2/responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
          <link href="/src/app/fe/assets/css/ux2/responsive-ux-post-matesrates.css" media="screen" rel="stylesheet" type="text/css" />
          <link href="/src/app/fe/assets/css/ux2/kickback-responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
          <link href="/src/app/fe/assets/css/ux2/matesrates-responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
          <link href="/src/app/fe/assets/css/ux2/jquery.smartbanner.css" media="screen" rel="stylesheet" type="text/css" />
      
  
            <a href="https://www.48months.ie/membership-plans" id="bannerBox"></a>
            
            <article data-role="main-portal-content-article">
            
                <div data-role="main-portal-home-campaign">
                    <div class="home-campaign">
            
                      <div class="home-campaign-info">
                        <br><br><h3 id="goConquer">Go Conquer!</h3>
        <p id="goConquerText">48 is Ireland’s first online mobile network and the first with unlimited messaging on WhatsApp. So come and join us for the best deal out there.</p>
        
        <a class="button" (click)="navigateToFreeSim()"><span><strong>Order a free SIM</strong>to get started</span></a>
        <a class="button bn-grey" (click)="navigateToActivateSim()"><span><strong>Activate a 48 SIM</strong>to become a member of 48</span></a>
        </div>
        <div class="clearfix"></div>
        </div>
        </div>
        
        <style>
        
        #main-portal-home-matesrates-text-header {
        margin: 0;
        padding: 0;
        line-height: 1em;
        width: 100%;
        font-size: 24pt;
        font-family: 'aldo', Arial, sans-serif;
        color: #e03099;
        /* font-weight: 300; */
        line-height: 26px;
        /*	text-align: center;*/
        margin-left:inherit;
        margin-right:inherit;
        margin-top: 20px;
        }
        
        #main-portal-home-matesrates-text-header span{
        /*  font-size: 36px;
        line-height:1;*/
        }
        </style>
        
       
        <div data-role="main-portal-home-memberships">
        <br>
        
        <div class="welcome-text">
        
        <br> <br> <h1 style="text-align:left; font-size: 45px; color:#53af31;">Switch to 48 and get your second month FREE.</h1>
        
        <p class="intro" style = "font-size:17px">Let’s save you some cash with a month's free membership when you switch to 48! Catch up with your mates more with Unlimited WhatsApp messaging and all the calls, texts and data you need.</p>
        
        <br>
        <h1 style="text-align:left; font-size: 45px; color:#53af31;">48 Memberships</h1>
        
        <p class="intro">We do things differently at 48. All our plans now come with even more data so you can keep up with the latest from your mates. The Guido has 3GB of data, The Mitch has 25GB and the mighty Don got bumped up from 8GB to 20GB!</p>
        </div>
        <div style="width:100%">
        <div id="member_description">
        <div id="member_description-header">
        <p style="text-align:center;font-size:20px;color:#fff;margin-top:25px;">Data</p>
        </div>
        <div style="width:90%;padding:10px;">
        <p style="text-align:left;font-size:18px;color:#fff;margin-bottom:10px;">Mobile Minutes</p>
        <hr color="#696969">
        <p style="text-align:left;font-size:18px;color:#fff;margin-bottom:10px;">Texts</p>
        <hr color="#696969">
        <p style="text-align:left;font-size:18px;color:#fff;margin-bottom:10px;">EU Roaming</p>
        <hr color="#696969">
        <p style="text-align:left;font-size:18px;color:#fff;margin-bottom:10px;">WhatsApp Messages</p>
        <hr color="#696969">
        <p style="text-align:left;font-size:18px;color:#fff;margin-bottom:10px;">Landline Minutes</p>
        <hr color="#696969">
        </div>
        
        </div>
        <a href="https://www.48months.ie/membership-plans" style="color:#101318;">
        <div id="guido-membershipPlan">
        <div id="guido-membershipPlan-header">
        <h3 class="priceP"> €10</h3>
        <h3 class="Pname"> The Guido</h3>
        </div>
        <div id="guido-dataPlan">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">Now 3GB</p>
        <br>
        <p style="text-align:center;font-size:12px;color:#fff;margin-top:-22px;">was 1GB</p>
        </div>
        <div id="guido-otherPlan">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">300 minutes</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">All Text*</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">Yes</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">Unlimited</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">60 minutes</p>
        <div class="button orderFreeSim" id="guido-oder-button"  (click)= "navigateToFreeSim()" style="">
        <span><strong>Order a free SIM</strong></span>
        </div>
        </div>
        </div>
        <div id="mitch-membershipPlan">
        <div id="mitch-membershipPlan-header">
        <h3 class="priceP"> €15</h3>
        <h3 class="Pname"> The Mitch</h3>
        </div>
        <div id="mitch-dataPlan">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">Now 25GB</p>
        <br>
        <p style="text-align:center;font-size:12px;color:#fff;margin-top:-22px;">was 15GB</p>					
        </div>
        <div id="mitch-otherPlan">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">50 minutes</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">100 Text</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">No</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">Unlimited</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">None</p>
        <div class="button orderFreeSim" (click)= "navigateToFreeSim()" id="mitch-oder-button">
        <span><strong>Order a free SIM</strong></span>
        </div>
        </div>
        </div>
        <div id="don-membershipPlan">
        <div id="don-membershipPlan-header">
        <h3 class="priceP"> €20</h3>
        <h3 class="Pname-don"> The Don</h3>
        </div>
        <div id="don-dataPlan">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">Now 20GB</p>
        <br>
        <p style="text-align:center;font-size:12px;color:#fff;margin-top:-22px;">was 8GB</p>
        </div>
        <div id="don-otherPlan">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">1000 minutes</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">All Text*</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">No</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">Unlimited</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">60 minutes</p>
        <div class="button orderFreeSim"  (click)= "navigateToFreeSim()" id="don-oder-button">
        <span><strong>Order a free SIM</strong></span>
        </div>
        </div>
        </div>
        </a>
        </div>

        <br>
        <p class="info centered">*Fair usage policy applies to all texts. There are some other rules you should know too. <a href="https://www.48months.ie/boiler-plate/terms">Find out more.</a>
        WhatsApp messaging is only available if you have data included (i.e. in your membership plan or if you buy a data add on). You will not be charged for data when you use the WhatsApp messaging service for messages via the app but if you use the voice features on WhatsApp you will incur data charges.
        </p>
        <br><br>
        <h2 class="centered"><span><a href="https://www.48months.ie/how-to-join-48">How to Join 48?</a></span></h2>				
        <ul class="joining-process" style="margin:0 auto;">
        <li>
        <a href="https://www.48months.ie/free-sim"><span>1</span>Order a free SIM</a></li>
        <li>
        <a href="https://www.48months.ie/unlock-your-phone"><span>2</span>Unlock your phone</a></li>
        <li>
        <a href="https://www.48months.ie/activate-sim"><span>3</span>Activate your SIM</a></li>
        <li>
        <a href="https://www.48months.ie/membership-plans"><span>4</span>Buy membership</a></li>
        </ul>				
        
        </div>
        
        <div class="clearfix"></div>
        
      
        
        <div data-role="help-and-support-options">
        
        <h2 class="centered"><span>Help &amp; Support</span></h2>
        
        <p class="intro centered">
        Our customer care is all online. Why? Because it gives you quick and easy access to the help you need. No more bad hold music. We've 3 simple options, choose the one which works for you.
        </p>
        
        <ul class="help-and-support-options">
        <li class="faq">
        <h3><a href="https://www.48months.ie/help#check-out-our-FAQs">Check out our FAQs »</a></h3>
        <span>There’s plenty we can do to help, but we find that most issues can be resolved by reading our FAQs.</span>
        </li>
        <li class="community">
        <h3><a href="http://community.48months.ie/">Ask the 48 Community »</a></h3>
        <span>There are plenty of 48ers on the Community who are happy to help out. Simply post your query in the Need Help section for a speedy response.</span>
        </li>
        <li class="agent">
        <h3><a href="https://www.48months.ie/help/ask-agent">Contact Us »</a></h3>
        <span>Got a question about your account? Ask a 48 Agent for help and they will get back to you within 24 hours.</span>
        </li>
        </ul>
        
        </div>
        
        
        </article>
        
        </section>
        
        </main>
        