<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">


  <router-outlet></router-outlet> 
    <!--<app-signin></app-signin>
   <app-free-sim></app-free-sim>

<app-welcome></app-welcome>

    <app-header></app-header>
    <br><br><br><br><br><br><app-footer></app-footer>
    <app-homecontent></app-homecontent>
    
    <br><br><br><br><br><br><app-footer></app-footer>
 
<app-activate-sim></app-activate-sim>
<app-homecontent></app-homecontent>
-->


</div>


















  <!--<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
<h2>Here are some links to help you start: </h2>
</ul>-->


