<html>
<header data-role="main-portal-header">
    <link href="https://www.48months.ie/assets/css/810304d319caf5c67101dbfdc075e9f1.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/responsive-ux-post-matesrates.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/kickback-responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/matesrates-responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/jquery.smartbanner.css" media="screen" rel="stylesheet" type="text/css" />


    
    
<section>
<div class="logo">
<a href="/">
<img src="https://www.48months.ie/css/ux2/img/logo.png" alt="Website logo"/>
</a>
<div class="backlink">
<!-- <a href="/" onclick="back()">Back</a> -->
</div>
<div class="backlink_text">
<a href="/" onclick="back()"><u><font color="white">Back</font></u></a>
</div> 
</div>


</section>
</header>

<body>

<div class="auth-box">
<h1>Sign in</h1>
<div class="largest" style="text-align: center;width: 100%">
<p> Pay your membership, buy internet,extra landlines</p>
<p> and other handy stuff...</p>
</div>

<div class="login-page">
<div class="form">

<form class="login-form">
<input type="text" placeholder="Email address"/>
<input type="password" placeholder="password"/>
<button>Sign in</button>
<p class="message">
<a id ="forgotten" href="">i've forgotten my details.help?</a>
</p>
</form>
</div>
</div>
</div>

</body>


</html>





