sign-in.component.css body
{
width: 100%;
height: 50px;
margin: 0;
padding: 0;
font-family: "Roboto", sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

}
.header-content
{
background-color: #1a1a1a;
width: 100%;
height: 100%;
margin: 0;
padding: 0;

}
.img
{
width: 100%;
height: 115px;
margin-left: 250px;

}
.auth-box
{
width: 100%;
height: 100%;
color: green;
text-align: center;
font-weight: bold;
font-size: 19px;
margin: 0;
padding: 0;
}
.largest
{
color:#E6E6E6;
font-size: 15px;
text-align: right;
text-justify: inter-word;
margin-top: 10px;


}

.sign-in
{
color:#E6E6E6;
font-size: 15px;
text-align: right;
text-justify: inter-word;
margin-top: 90px;
}

.login-page 
{
width: 100%;
height: 470px;
padding: 3.5% 0 0;
}
.form 
{
margin-top:10px;
position: relative;
z-index: 1;
max-width: 360px;
margin: 0 auto 100px;
padding: 45px;
text-align: center;
margin-top: 0px;
}
.form input
{
font-family: "Roboto", sans-serif;
outline: 0;
background: #f2f2f2;
width: 220px;
height: 35px;
border-radius: 2px;
border: 0;
margin: 0 0 15px;
padding: 15px;
box-sizing: border-box;
font-size: 14px;
margin-top: 0px;
}

#forgotten
{
color: white;
font-style:normal;
text-decoration: underline;
}

.form button 
{
font-family: 'Times New Roman', Times, serif;
outline: 0;
background: #4CAF50;
width: 220px;
height: 40px;
border: 0;
padding: 15px;
color: #FFFFFF;
border-radius: 5px;
font-weight: bold;
font-size: 14px;
-webkit-transition: all 0.3 ease;
transition: all 0.3 ease;
cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus 
{
background: #43A047;
}
.form .message 
{
margin: 15px 0 0;
color: #b3b3b3;
font-size: 14px;
}

