
<!--<div class="navbar-nav">
  <a src="#">What's the deal?</a>
</div>
<a src="# " dropdown-toggle data-toggle="dropdown">Help & Support
    <span class="caret"></span>

<a src="#" dropdown-toggle data-toggle="dropdown">
  <span class="caret"></span>
-->


<header data-role="main-portal-header">
    <link href="https://www.48months.ie/assets/css/810304d319caf5c67101dbfdc075e9f1.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/responsive-ux-post-matesrates.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/kickback-responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/matesrates-responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://www.48months.ie/css/ux2/jquery.smartbanner.css" media="screen" rel="stylesheet" type="text/css" />
   

<section>


    <div class="logo">
        <a href="/">
            <img src="https://www.48months.ie/css/ux2/img/logo.png" alt="Website logo" />
        </a>
                    
        </div>
    <div class="progressbar">
        
    </div>     
                
            <nav>	
    <div id="menuToggle"></div>
    
        <ul>
            <li class="first home"><a href="/"></a></li>
            <li class="deal">
                <a href="#" onclick="return false;">What's the deal?</a>
                

<div>


                <div class="nav-column">
                                                            
            <h3><a href="https://www.48months.ie/who-is-48" title="What is 48?"><span>What is 48?</span></a></h3>

            <ul>
                                        <li><a href="https://www.48months.ie/who-is-48" title="Who is 48?"><span>Who is 48?</span></a></li>
                                        <li><a href="https://www.48months.ie/who-is-48#why-is-48-different" title="Why is 48 different?"><span>Why is 48 different?</span></a></li>
                                </ul>

                        </div>
        
                <div class="nav-column">
                                                            
            <h3><a href="https://www.48months.ie/how-to-join-48" title="Joining 48"><span>Joining 48</span></a></h3>

            <ul>
                                        <li><a href="https://www.48months.ie/how-to-join-48" title="How to join 48"><span>How to join 48</span></a></li>
                                </ul>

                                <div class="clearfix"></div>
                <p class="extra-actions">
                                                <a class="button bn-small" href="/free-sim" title="Order a free SIM"><span>Order a free SIM</span></a>                                                    
                                                <a class="button bn-small bn-grey" href="/activate-sim" title="Activate a 48 SIM"><span>Activate a 48 SIM</span></a>                                            </p>
                        
                                                
                                            </div>
        
                <div class="nav-column">
                                                            
            <h3><a href="https://www.48months.ie/membership-plans" title="Membership"><span>Membership</span></a></h3>

            <ul>
                                        <li><a href="https://www.48months.ie/membership-plans" title="Membership plans"><span>Membership plans</span></a></li>
                                        <li><a href="https://www.48months.ie/membership-plans#extra48stuff" title="Extra 48 stuff"><span>Extra 48 stuff</span></a></li>
                                </ul>

                        </div>
        
                <div class="nav-column">
                                                            
            <h3><a href="https://www.48months.ie/matesrates/what-is" title="Mates Rates: Instant Credit"><span>Mates Rates: Instant Credit</span></a></h3>

            <ul>
                                        <li><a href="https://www.48months.ie/matesrates/what-is" title="What is Mates Rates"><span>What is Mates Rates</span></a></li>
                                        <li><a href="https://www.48months.ie/matesrates/your-matesrates" title="Start earning"><span>Start earning</span></a></li>
                                </ul>

                        </div>
        </div>                </li>

            <li class="help">
                <a href="#" onclick="return false;">Help &amp; Support</a>
                

<div>
<div class="nav-column support">
    <h3><a href="https://www.48months.ie/help" title="Help & Support"><span>Help & Support</span></a></h3>
    <ul>

                        <li class="first">
                                                        
                <a href="https://www.48months.ie/help#contact-us" title="Contact Us"><span>Contact Us</span></a>
                <ul><li><a href="https://www.48months.ie/help#contact-us" title="Got a question about your account?"><span>Got a question about your account?</span></a></li></ul>
            
                
                </li>
                       <li class="">
                                                        
                <a href="https://community.48months.ie/t5/Troubleshooting-Knowledge-Base/tkb-p/faq_1%40tkb" title="Knowledgebase"><span>Knowledgebase</span></a>
                <ul><li><a href="https://community.48months.ie/t5/Troubleshooting-Knowledge-Base/My-phone-s-internet-is-not-working-Why/ta-p/258" title="Internet Settings"><span>Internet Settings</span></a></li><li><a href="https://community.48months.ie/t5/Troubleshooting-Knowledge-Base/You-need-a-new-SIM/ta-p/8487" title="Need a new SIM?"><span>Need a new SIM?</span></a></li><li><a href="https://community.48months.ie/t5/Troubleshooting-Knowledge-Base/Why-can-t-I-call-or-text/ta-p/260" title="Why can’t I call or text?"><span>Why can’t I call or text?</span></a></li><li><a href="https://community.48months.ie/t5/Most-Popular-Questions/Where-has-my-credit-gone/m-p/34" title="Where has my credit gone?"><span>Where has my credit gone?</span></a></li></ul>
            </li>
                       <li class="">
                                                        
                <a href="https://community.48months.ie/" title="Ask the 48 community"><span>Ask the 48 community</span></a>
                <ul><li><a href="https://community.48months.ie/t5/Most-Popular-Questions/bd-p/faq" title="Most Popular Questions"><span>Most Popular Questions</span></a></li><li><a href="https://community.48months.ie/t5/Internet/bd-p/Internet" title="Internet"><span>Internet</span></a></li><li><a href="https://community.48months.ie/t5/Phones/bd-p/Phones" title="Phones"><span>Phones</span></a></li><li><a href="https://community.48months.ie/t5/Memberships/bd-p/Memberships" title="Memberships"><span>Memberships</span></a></li></ul>
            </li>
               </ul>

            <footer class="help-extra-actions">
    
                                                            <p class="extra-actions first">

                                          <a class="button bn-small bn-grey" href="https://www.48months.ie/help#contact-us" title="contact us"><span>contact us</span></a>                                              <a class="button bn-small" href="https://www.48months.ie/help/my-messages" title="existing requests"><span>existing requests</span></a>                                        </p>
            
                                                            <p class="extra-actions">

                                          <a class="button bn-small bn-grey" href="https://community.48months.ie/t5/Troubleshooting-Knowledge-Base/tkb-p/faq_1%40tkb" title="Click here for more"><span>Click here for more</span></a>                                        </p>
            
                                                            <p class="extra-actions">

                                          <a class="button bn-small bn-grey" href="https://community.48months.ie/" title="Visit the 48 community"><span>Visit the 48 community</span></a>                                        </p>
            
                </footer>
</div>

</div>
            </li>

            <li class="my-48">
                <a href="#" onclick="return false;">My 48</a>
                

<div>
<ul>
                <li><a href="https://www.48months.ie/my-48" title="My 48"><span>My 48</span></a></li>
                <li><a href="https://www.48months.ie/matesrates/your-matesrates" title="My Mates Rates"><span>My Mates Rates</span></a></li>
                <li><a href="https://www.48months.ie/my-48/change-my-sim" title="Change my SIM"><span>Change my SIM</span></a></li>
                <li><a target="_blank" href="https://www.48months.ie/unlock-your-phone" title="Unlock my phone"><span>Unlock my phone</span></a></li>
                <li><a href="https://www.48months.ie/my-48/my-data-settings" title="Update my data settings"><span>Update my data settings</span></a></li>
                <li><a href="https://www.48months.ie/my-48/move-your-number" title="Move my number"><span>Move my number</span></a></li>
        </ul>
</div>
            </li>

                                <!--<li class="last signin-form decoupled" id="header-sign-in-dropdown-container">
                    <a id="header-sign-in-dropdown-trigger" onclick=btnClick()>Sign in</a>-->
                                       
                <li class="last signin-form decoupled" id="header-sign-in-dropdown-container">
                   
                <a id="header-sign-in-dropdown-trigger" (click)="navigateToSignIn()">Sign in</a>
                </li>
                        </ul>
    </nav>
        </section>
</header>

<!--BODY CONTENT START-->

<main data-role="main-portal-content">

        <script type="text/javascript">
        var axel = Math.random() + "";
        var a = axel * 10000000000000;
        document.write('<iframe src="https://3499391.fls.doubleclick.net/activityi;src=3499391;type=landi317;cat=2016_0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
        </script><iframe src="https://3499391.fls.doubleclick.net/activityi;src=3499391;type=landi317;cat=2016_0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=2165690816910.4504?" width="1" height="1" frameborder="0" style="display:none"></iframe>
        <noscript>
        <iframe src="https://3499391.fls.doubleclick.net/activityi;src=3499391;type=landi317;cat=2016_0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
        </noscript>
        
        
        <div class="header-image" style="background-image: url(https://www.48months.ie/css/ux2/images/content-headers/homepage-header.png);"></div>
             
        <section id="homesection">
            
            
             <link href="https://www.48months.ie/assets/css/810304d319caf5c67101dbfdc075e9f1.css" media="screen" rel="stylesheet" type="text/css" />
            <link href="https://www.48months.ie/css/ux2/responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
            <link href="https://www.48months.ie/css/ux2/responsive-ux-post-matesrates.css" media="screen" rel="stylesheet" type="text/css" />
            <link href="https://www.48months.ie/css/ux2/kickback-responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
            <link href="https://www.48months.ie/css/ux2/matesrates-responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
            <link href="https://www.48months.ie/css/ux2/jquery.smartbanner.css" media="screen" rel="stylesheet" type="text/css" />
            

            <a href="https://www.48months.ie/membership-plans" id="bannerBox"></a>
            
            <article data-role="main-portal-content-article">
            
                <div data-role="main-portal-home-campaign">
                    <div class="home-campaign">
            
                      <div class="home-campaign-info">
                        <br><br><h3 id="goConquer">Go Conquer!</h3>
        <p id="goConquerText">48 is Ireland’s first online mobile network and the first with unlimited messaging on WhatsApp. So come and join us for the best deal out there.</p>
        
        <a class="button" (click)="navigateToFreeSim()"><span><strong>Order a free SIM</strong>to get started</span></a>
        <a class="button bn-grey" (click)="navigateToActivateSim()"><span><strong>Activate a 48 SIM</strong>to become a member of 48</span></a>
        </div>
        <div class="clearfix"></div>
        </div>
        </div>
        
        <style>
        
        #main-portal-home-matesrates-text-header {
        margin: 0;
        padding: 0;
        line-height: 1em;
        width: 100%;
        font-size: 24pt;
        font-family: 'aldo', Arial, sans-serif;
        color: #e03099;
        /* font-weight: 300; */
        line-height: 26px;
        /*	text-align: center;*/
        margin-left:inherit;
        margin-right:inherit;
        margin-top: 20px;
        }
        
        #main-portal-home-matesrates-text-header span{
        /*  font-size: 36px;
        line-height:1;*/
        }
        </style>
        
        <!--Mebership plan design change MON-209 ---------------------------------------------->
        <div data-role="main-portal-home-memberships">
        <br>
        
        <div class="welcome-text">
        
        <br> <br> <h1 style="text-align:left; font-size: 45px; color:#53af31;">Switch to 48 and get your second month FREE.</h1>
        <!--div id="main-portal-home-matesrates-text-header">
        <span>Ditch your network, switch to 48 and get your second month FREE.</span>
        </div-->
        <p class="intro" style = "font-size:17px">Let’s save you some cash with a month's free membership when you switch to 48! Catch up with your mates more with &nbsp;&nbsp;Unlimited WhatsApp messaging and all the calls, texts and data you need.</p>
        <!--<div id="main-portal-home-matesrates-button-container" class="center" style="text-align:center;">
        <div class="alert-cell actions" style="display:inline-block;">
        <a id="tell_more" class="button bn-kick"  href="/matesrates/what-is"><span><strong>Tell me more</strong></span></a>
        </div>
        </div> -->
        <br>
        <h1 style="text-align:left; font-size: 45px; color:#53af31;">48 Memberships</h1>
        
        <p class="intro">We do things differently at 48. All our plans now come with even more data so you can keep up with the latest from your mates. The Guido has 3GB of data, The Mitch has 25GB and the mighty Don got bumped up from 8GB to 20GB!</p>
        </div>
        <div style="width:100%">
        <div id="member_description">
        <div id="member_description-header">
        <p style="text-align:center;font-size:20px;color:#fff;margin-top:25px;">Data</p>
        </div>
        <div style="width:90%;padding:10px;">
        <p style="text-align:left;font-size:18px;color:#fff;margin-bottom:10px;">Mobile Minutes</p>
        <hr color="#696969">
        <p style="text-align:left;font-size:18px;color:#fff;margin-bottom:10px;">Texts</p>
        <hr color="#696969">
        <p style="text-align:left;font-size:18px;color:#fff;margin-bottom:10px;">EU Roaming</p>
        <hr color="#696969">
        <p style="text-align:left;font-size:18px;color:#fff;margin-bottom:10px;">WhatsApp Messages</p>
        <hr color="#696969">
        <p style="text-align:left;font-size:18px;color:#fff;margin-bottom:10px;">Landline Minutes</p>
        <hr color="#696969">
        </div>
        
        </div>
        <a href="https://www.48months.ie/membership-plans" style="color:#101318;">
        <div id="guido-membershipPlan">
        <div id="guido-membershipPlan-header">
        <h3 class="priceP"> €10</h3>
        <h3 class="Pname"> The Guido</h3>
        </div>
        <div id="guido-dataPlan">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">Now 3GB</p>
        <br>
        <p style="text-align:center;font-size:12px;color:#fff;margin-top:-22px;">was 1GB</p>
        </div>
        <div id="guido-otherPlan">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">300 minutes</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">All Text*</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">Yes</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">Unlimited</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">60 minutes</p>
<!--<div class="button orderFreeSim" href ="/free-sim" id="guido-oder-button" style="">
        <span><strong>Order a free SIM</strong></span>
        </div>-->
        
        <div><a class="button orderFreeSim" href ="/free-sim" id="guido-oder-button" style="">
            <span><strong>Order a free SIM</strong></span>
        </a></div>
        </div>
        </div>
        <div id="mitch-membershipPlan">
        <div id="mitch-membershipPlan-header">
        <h3 class="priceP"> €15</h3>
        <h3 class="Pname"> The Mitch</h3>
        </div>
        <div id="mitch-dataPlan">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">Now 25GB</p>
        <br>
        <p style="text-align:center;font-size:12px;color:#fff;margin-top:-22px;">was 15GB</p>					
        </div>
        <div id="mitch-otherPlan">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">50 minutes</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">100 Text</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">No</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">Unlimited</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">None</p>
        <!--<div class="button orderFreeSim" href ="/free-sim" id="mitch-oder-button">
        <span><strong>Order a free SIM</strong></span>
        </div>-->
        <div><a class="button orderFreeSim" href ="/free-sim" id="guido-oder-button" style="">
            <span><strong>Order a free SIM</strong></span>
        </a></div>
        </div>
        </div>
        <div id="don-membershipPlan">
        <div id="don-membershipPlan-header">
        <h3 class="priceP"> €20</h3>
        <h3 class="Pname-don"> The Don</h3>
        </div>
        <div id="don-dataPlan">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">Now 20GB</p>
        <br>
        <p style="text-align:center;font-size:12px;color:#fff;margin-top:-22px;">was 8GB</p>
        </div>
        <div id="don-otherPlan">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">1000 minutes</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">All Text*</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">No</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">Unlimited</p>
        <hr color="#696969">
        <p style="text-align:center;font-size:18px;color:#fff;margin-bottom:10px;">60 minutes</p>
        <!--<div class="button orderFreeSim" href ="/free-sim" id="don-oder-button">
        <span><strong>Order a free SIM</strong></span>
        </div>-->
        <div><a class="button orderFreeSim" href ="/free-sim" id="guido-oder-button" style="">
            <span><strong>Order a free SIM</strong></span>
        </a></div>
         </div>
        </div>
        </a>
        </div>
      
        <br>
        <p class="info centered">*Fair usage policy applies to all texts. There are some other rules you should know too. <a href="https://www.48months.ie/boiler-plate/terms">Find out more.</a>
        WhatsApp messaging is only available if you have data included (i.e. in your membership plan or if you buy a data add on). You will not be charged for data when you use the WhatsApp messaging service for messages via the app but if you use the voice features on WhatsApp you will incur data charges.
        </p>
        <br><br>
        <h2 class="centered"><span><a href="https://www.48months.ie/how-to-join-48">How to Join 48?</a></span></h2>				
        <ul class="joining-process" style="margin:0 auto;">
        <li>
        <a href="/free-sim"><span>1</span>Order a free SIM</a></li>
        <li>
        <a href="https://www.48months.ie/unlock-your-phone"><span>2</span>Unlock your phone</a></li>
        <li>
        <a href="/activate-sim"><span>3</span>Activate your SIM</a></li>
        <li>
        <a href="https://www.48months.ie/membership-plans"><span>4</span>Buy membership</a></li>
        </ul>				
        
        </div>
        
        <div class="clearfix"></div>
        
        
        
        <div data-role="help-and-support-options">
        
        <h2 class="centered"><span>Help &amp; Support</span></h2>
        
        <p class="intro centered">
        Our customer care is all online. Why? Because it gives you quick and easy access to the help you need. No more bad hold music. We've 3 simple options, choose the one which works for you.
        </p>
        
        <ul class="help-and-support-options">
        <li class="faq">
        <h3><a href="https://www.48months.ie/help#check-out-our-FAQs">Check out our FAQs »</a></h3>
        <span>There’s plenty we can do to help, but we find that most issues can be resolved by reading our FAQs.</span>
        </li>
        <li class="community">
        <h3><a href="http://community.48months.ie/">Ask the 48 Community »</a></h3>
        <span>There are plenty of 48ers on the Community who are happy to help out. Simply post your query in the Need Help section for a speedy response.</span>
        </li>
        <li class="agent">
        <h3><a href="https://www.48months.ie/help/ask-agent">Contact Us »</a></h3>
        <span>Got a question about your account? Ask a 48 Agent for help and they will get back to you within 24 hours.</span>
        </li>
        </ul>
        
        </div>
        
        
        </article>
        
        </section>
        
        </main>
        
        <!--END OF BODY PART-->

      <!--FOOTER PART START-->

      <footer data-role="main-portal-footer">

        
            <section>
                <link href="https://www.48months.ie/assets/css/810304d319caf5c67101dbfdc075e9f1.css" media="screen" rel="stylesheet" type="text/css" />
                <link href="https://www.48months.ie/css/ux2/responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
                <link href="https://www.48months.ie/css/ux2/responsive-ux-post-matesrates.css" media="screen" rel="stylesheet" type="text/css" />
                <link href="https://www.48months.ie/css/ux2/kickback-responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
                <link href="https://www.48months.ie/css/ux2/matesrates-responsive-ux.css" media="screen" rel="stylesheet" type="text/css" />
                <link href="https://www.48months.ie/css/ux2/jquery.smartbanner.css" media="screen" rel="stylesheet" type="text/css" />
                            
          <div class="left">
            <nav>
            <span class="footer_heading"><a href="https://staging.48months.ie/membership-plans">What's the deal?</a></span>
        
            <ul>
        
                <li>
                <a href="https://staging.48months.ie/who-is-48" title="What is 48?"><span>What is 48?</span></a>  
                 <ul>
                <li><a href="https://www.48months.ie/who-is-48" title="Who is 48?"><span>Who is 48?</span></a></li>
                  <li><a href="https://staging.48months.ie/who-is-48#why-is-48-different" title="Why is 48 different?"><span>Why is 48 different?</span></a></li>
            </ul>
            </li>
                                                                                                                                                              <li>
                                      <a href="https://staging.48months.ie/how-to-join-48" title="Joining 48"><span>Joining 48</span></a>                                <ul>
                                                                                                                      <li><a href="https://staging.48months.ie/how-to-join-48" title="How to join 48"><span>How to join 48</span></a></li>
                                                                                  <li><a href="https://staging.48months.ie/free-sim" title="Order a free SIM"><span>Order a free SIM</span></a></li>
                                                                                  <li><a href="https://staging.48months.ie/activate-sim" title="Activate a 48 SIM"><span>Activate a 48 SIM</span></a></li>
                                                                          </ul>
                                  </li>
                                                                                                                                                              <li>
                                      <a href="https://staging.48months.ie/membership-plans" title="Membership"><span>Membership</span></a>                                <ul>
                                                                                                                      <li><a href="https://staging.48months.ie/membership-plans" title="Membership plans"><span>Membership plans</span></a></li>
                                                                                  <li><a href="https://staging.48months.ie/membership-plans#extra48stuff" title="Extra 48 stuff"><span>Extra 48 stuff</span></a></li>
                                                                          </ul>
                                  </li>
                                                                                                                                                              <li>
                                      <a href="https://staging.48months.ie/matesrates/what-is" title="Mates Rates"><span>Mates Rates</span></a>                                <ul>
                                                                                                                      <li><a href="https://staging.48months.ie/matesrates/what-is" title="What is Mates Rates"><span>What is Mates Rates</span></a></li>
                                                                                  <li><a href="https://staging.48months.ie/matesrates/your-matesrates" title="Start earning"><span>Start earning</span></a></li>
                                                                          </ul>
                                  </li>
                                                                  </ul>
                  </nav>
        
        
                  <nav>
                                      <span class="footer_heading"><a href="https://staging.48months.ie/my-48">My 48</a></span>
        
                      <ul>
        
                                                                                                                                      <li>
                                      <a href="https://staging.48months.ie/my-48" title="My 48"><span>My 48</span></a>                                <ul>
                                                                                                                      <li><a href="https://staging.48months.ie/my-48" title="My 48"><span>My 48</span></a></li>
                                                                                  <li><a href="https://staging.48months.ie/matesrates/your-matesrates" title="My Mates Rates"><span>My Mates Rates</span></a></li>
                                                                                  <li><a href="https://staging.48months.ie/my-48/change-my-sim" title="Change my SIM"><span>Change my SIM</span></a></li>
                                                                                  <li><a href="https://staging.48months.ie/unlock-your-phone" title="Unlock my phone"><span>Unlock my phone</span></a></li>
                                                                                  <li><a href="https://staging.48months.ie/my-48/my-data-settings" title="Update my data settings"><span>Update my data settings</span></a></li>
                                                                                  <li><a href="https://staging.48months.ie/my-48/move-your-number" title="Move my number"><span>Move my number</span></a></li>
                                                                          </ul>
                                  </li>
                                                                                                                                                              <li>
                                      <a href="https://staging.48months.ie/matesrates/what-is" title="Mates Rates"><span>Mates Rates</span></a>                                <ul>
                                                                                  <li><a href="https://staging.48months.ie/matesrates/what-is" title="What is Mates Rates"><span>What is Mates Rates</span></a></li>
                                                                                  <li><a href="https://staging.48months.ie/matesrates/your-matesrates" title="My Mates Rates"><span>My Mates Rates</span></a></li>
                                                                                  <li><a href="https://staging.48months.ie/matesrates/joins" title="Your friend joins"><span>Your friend joins</span></a></li>
                                                                                  <li><a href="/matesrates/get-cash" title=""><span></span></a></li>
                                                                          </ul>
                                  </li>
                                                                                                                                                              <li>
                                      <a href="https://staging.48months.ie/membershop" title="Member Shop"><span>Member Shop</span></a>                                <ul>
                                                                                  <li><a href="https://staging.48months.ie/membershop?cat=memberships" title="Buy membership"><span>Buy membership</span></a></li>
                                                                                  <li><a href="https://staging.48months.ie/membershop?cat=addons" title="Buy add-ons"><span>Buy add-ons</span></a></li>
                                                                                  <li><a href="https://staging.48months.ie/membershop?cat=topup" title="Top-up"><span>Top-up</span></a></li>
                                                                                  <li><a href="https://staging.48months.ie/giftshop" title="Gift Shop"><span>Gift Shop</span></a></li>
                                                                          </ul>
                                  </li>
                                                                  </ul>
        
                  </nav>
        
              </div>
        
              <div class="right">
        
                  <nav class="about-footer-menu">
                                      <span class="footer_heading"><a href="https://staging.48months.ie/boiler-plate/about-us" style="right:120px;">About 48</a></span>
                      <ul>
        
                                                                                                                                      <li>
                                      <a href="https://staging.48months.ie/boiler-plate/about-us" title="About 48"><span>About 48</span></a>                                <ul>
                                                                                  <li><a href="https://staging.48months.ie/boiler-plate/about-us" title="About us"><span>About us</span></a></li>
                                                                                  <li><a href="https://staging.48months.ie/boiler-plate/contact-us" title="Contact us"><span>Contact us</span></a></li>
                                                                                  <li><a href="https://staging.48months.ie/boiler-plate/sitemap" title="Sitemap"><span>Sitemap</span></a></li>
                                                                                  <li><a href="https://staging.48months.ie/coverage-checker" title="Coverage Checker"><span>Coverage Checker</span></a></li>
                                                                          </ul>
                                  </li>
                                                                                                                                                              <li>
                                                                                  <a href="https://staging.48months.ie/boiler-plate/terms" title="Other 48 stuff"><span>Other 48 stuff</span></a>                                <ul>
                                                                                  <li><a href="https://staging.48months.ie/boiler-plate/terms" title="Terms & Conditions"><span>Terms & Conditions</span></a></li>
                                                                                  <li><a href="https://staging.48months.ie/boiler-plate/privacy" title="Privacy Policy"><span>Privacy Policy</span></a></li>
                                                                                  <li><a href="https://staging.48months.ie/boiler-plate/code-of-practice" title="Code of Practice"><span>Code of Practice</span></a></li>
                                                                                  <li><a href="https://staging.48months.ie/boiler-plate/accessibility" title="Accessibility"><span>Accessibility</span></a></li>
                                                                          </ul>
                                  </li>
                                                                  </ul>
                  </nav>
        
                  <nav class="help-footer-menu">
                                      <span class="footer_heading"><a href="https://staging.48months.ie/help#check-out-our-FAQs">Help, 48 Community &amp; Support</a></span>
                      <ul>
                                                                                                                                                          <li>
                                          <a href="https://staging.48months.ie/help" title="Find help with 48"><span>Find help with 48</span></a>                                    <ul>
                                          <li><a href="https://staging.48months.ie/help#check-out-our-FAQs" title="Check out our FAQs"><span>Check out our FAQs</span></a></li>
                                          <li><a href="https://staging.48months.ie/help#ask-the-48-community" title="Ask the 48 community"><span>Ask the 48 community</span></a></li>
                                          <li><a href="https://staging.48months.ie/help#contact-us" title="Contact Us"><span>Contact Us</span></a></li>
                                                                                  </ul>
                                      </li>
                                                                              <li>
                              <a target="_blank" href="https://www.facebook.com/48GoConquer">Be social</a>
                              <ul>
                                  <li class="icon_facebook"><a target="_blank" href="https://www.facebook.com/48GoConquer">Chat on Facebook</a></li>
                                  <li class="icon_twitter"><a target="_blank" href="https://www.twitter.com/48GoConquer">Chat on Twitter</a></li>
                              </ul>
                          </li>
                      </ul>
        
        
                       <div data-role="award-container" class="clearfix">
          <div data-role="award-badge">
              <img src="https://www.48months.ie/css/img/badge.png" alt="Winner Best Practice Website Web Awards 2014" />
          </div>
          <div data-role="award-description">
              <span >
                  <strong>Winner Best Practice Website </strong>
                  <br />
                  Web Awards 2014
              </span>
          </div>
        </div>
                  </nav>
        
              </div>
        
              <div class="clear"></div>
        
          </section>
        
        </footer>

        <!--END OF FOOTER PART-->