<div class="clearfix">
        <div data-col="content" id="main-body-content">
          

<div class="auth-box">
<h1 class="mega highlight" style="text-align: center;width: 100%">Sign in</h1>
    <br>
    <p class="largest" style="text-align: center;width: 100%">Pay your membership, buy internet, extra landlines and other handy stuff...</p>
    <br>

<script type="text/javascript">
        $( document ).ready(function() {
                $("#email").attr("placeholder", "Email address");
                $("#password").attr("placeholder", "Password");
            });
</script>


<form method="post" class="inline_form" enctype="application/x-www-form-urlencoded" autocomplete="off" data-style="authenticate" data-role="http-authentication-form" id="http-authentication-form" name="login-form" action="https://www.48months.ie/auth/login?"><input type="hidden" name="csrf" value="0eba5ad2b7e1381dcbea0a1af3535a30" class="input_hidden required" id="csrf">
	<input type="hidden" name="referer" value="" class="input_hidden" id="referer">	<div data-role="row_group" class="clearfix" id="form_row_group___email---password---persist">		
		<div data-role="rows">
			<!-- begin row -->
			 			 <div class="row" id="form_row___email">				<div class="slot clearfix">
					<!--<label class="normal left text_right"></label> -->
					<div class="left input_wrap" id="auth-input-field">
		 				<input type="text" name="email" id="email" value="" tabindex="1" maxlength="95" class="input_text required" placeholder="Email address">					</div>
				</div>
			 				 </div>			<!-- end row -->

			<!-- begin row -->
			 			 <div class="row" id="form_row___password">				<div class="slot clearfix">
					<!--<label class="normal left text_right"></label> -->
					<div class="left input_wrap" id="auth-input-field">
		 				<input type="password" name="password" id="password" value="" tabindex="2" class="input_password required" placeholder="Password">					</div>
				</div>
			 				 </div>			<!-- end row -->


            <!-- begin row -->
                         <div class="row" id="form_row___persist">               <!-- <div class="slot clearfix">
  					<label class="normal left text_right">&nbsp;</label>

                    <div class="input_wrap">
                        
<input type="hidden" name="persist" value="" /><input type="checkbox" name="persist" id="persist" value="1" autocomplete="off" label_class="small" tabindex="10" data-style="virtual" />&nbsp;&nbsp;
                        <label class="inline">Remember me <span>&nbsp;</span></label>
                    </div>
                </div> -->
             </div>            <!-- end row -->
 
		</div>

	</div>
	 <!-- begin row -->
	 <div class="clearfix row" id="form_row___submit">		 <div class="slot left" id="auth-button">
			<input type="submit" name="submit" id="submit" value="Sign in" class="input_submit highlight" data-style="control">			<br><br>
			<a href="/help/forgot-password"><u>I've forgotten my details, help!</u></a>
		 </div>
	 </div>	 <!-- end row -->
</form>
</div>
<script type="text/javascript">
jQuery(document).ready(function() {
	app.forms.http_authentication.init('#http-authentication-form');
});
</script>
        </div>
        
        <div data-col="sidebar">
          <!-- NT-1398: As part of new design change this was requested to be removed 
<div data-role="sidebar-content">
	<div data-role="section">
		<h4 class="huge standout">Need help or want to know more?</h4>
		<p class="standout">Not sure what to do? <a class="underline highlight" href="/help"><b>Get help</b></a></p>
		<br />
		<p class="standout">Want to know more? <a class="underline highlight" href="/how-to-join-48"><b>Joining 48</b></a></p>
	</div>
</div>


<div data-role="sidebar-content">
    <div data-role="section">
    /* <div data-role="award-container" class="clearfix">
    <div data-role="award-badge">
        <img src="/css/img/badge.png" alt="Winner Best Practice Website Web Awards 2014" />
    </div>
    <div data-role="award-description">
        <span >
            <strong>Winner Best Practice Website </strong>
            <br />
            Web Awards 2014
        </span>
    </div>
</div>
 
    </div>
</div>-->		  
		  		  
        </div>
    </div>