<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>




<link href="https://www.48months.ie/assets/css/5537b613b4824efe5f5df80c039ac10c.css" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://www.48months.ie/assets/js/c431b9a65726e52f051cd72eb56a871f.js"></script>
</head>

<body class="ux_activate-sim" id="ux_activate-sim_registration-code" style="position: relative;">





<div data-role="ui-overlay" id="global-overlay"></div>

<div id="cookies">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<p>Cookies are yum yum and they give you an epic experience on our site. By continuing to use the site you agree to the use of our cookies. <a href="/boiler-plate/cookie-policy">Find out more</a></p></div>


<script type="text/javascript">
function back(){
history.back();
}
</script>


<header data-role="main-portal-header">
<section>


<div class="logo">
<a href="/">
<img src="https://www.48months.ie/css/ux2/img/logo.png" alt="Website logo" />
</a>
<div class="backlink">

</div>
<div class="backlink_text">
<a href="/" onclick="back()"><u>Back</u></a>
</div>

</div>
<div class="progressbar1">

</div> 

</section>
</header>

<div data-role="layout-notifications" data-group="system">
</div>




<div data-role="layout" data-cols="2-right" class="ux_theme">

<div data-role="main">
<div id="backButton"><a href="/my-48">back</a></div>
<div data-col="top-content" id="progress_bar"><ul data-role="progress" data-style="flat" id="wizard-flat-navigation___activate_sim" class="clearfix"><li class="first required active" id="wizard_flat_navigation_item-activate_sim-sim_registration_code">
<span data-role="content">
<span data-role="count">1</span>
<span data-role="text">Enter Code</span>
</span>
</li>
<li class="required" id="wizard_flat_navigation_item-activate_sim-user_account_details">
<span data-role="content">
<span data-role="count">2</span>
<span data-role="text">Your Details</span>
</span>
</li>
<li class="last required" id="wizard_flat_navigation_item-activate_sim-portin_options">
<span data-role="content">
<span data-role="count">3</span>
<span data-role="text">Your Number</span>
</span>
</li></ul></div>


<div class="clearfix">
<div data-col="content" id="main-body-content">

<br><br>
<h1 class="mega highlight" id="activation_header" 
style="padding-left: 5px;">Activate your SIM</h1>
<br />




<form method="post" class="block_form" enctype="application/x-www-form-urlencoded" autocomplete="off" data-style="activate-sim" data-role="collect-registration-code" action ="/activate-sim" id="activate-sim___registration-code" name="activate-your-sim-form" action="/activate-sim"><input type="hidden" name="csrf" value="9b47f544679a8e6fd3b96b0aba9d4de3" class="input_hidden required" id="csrf" />	<div data-role="row_group" class="clearfix">
<div data-role="rows" class="left">

<div class="row" id="form_row___registration_code"><div class="slot clearfix">
<label class="largest text_left">Enter your activation code below <span data-role="asterisk" class="highlight">*</span></label>
<div class="input_wrap">
<input type="text" name="registration_code" id="registration_code" value="" tabindex="1" 
placeholder="" maxlength="19" class="input_text required" />	</div>
</div>

</div>	
</div>
</div>
<div data-role="row_group" class="clearfix">
<div data-role="rows" class="left">
<div class="input_wrap">

</div>
</div>
</div>
<div data-role="row_group" class="clearfix">

<div class="row" id="form_row___submit">	<div class="slot clearfix">
<div class="input_wrap">
<input type="submit" name="submit" id="submit" value="Activate 48 SIM" class="input_submit highlight" data-style="control" />	</div>
</div>
</div>	
<div class="row">
<div class="slot">
<a target="_blank" href="http://community.48months.ie/t5/Need-Help/How-to-register-your-48-SIM/m-p/92#registerproblem" class="small_underline_standout"><u>Having trouble activating your 48 SIM?</u></a>
</div>
</div>
</div>

</form>

</div>

<div data-col="sidebar">


<div data-role="sidebar-content" id="finding-registration-code">
<div data-role="section">
<h4 class="huge standout">Where can I find my activation code?</h4>
<div data-role="graphic-content" class="clearfix" id="digits6">
<div class="left">&nbsp;</div>
<div class="right">
<p class="standout">Your 6 digit activation code is on the SIM pack we sent you</p>
</div>
</div>
<br />
<p class="standout">I can't get the activation code.
<a href="#" class="underline highlight" onclick="return app.activate_sim.registration_code.toggleHelp();"><b>What can I do?</b></a>
</p>


<div data-role="graphic-content" class="clearfix" id="digits19">
<div class="left" id="digits6">&nbsp;</div>
<div class="right">
<p class="standout">
Enter the <b> 19-digit code</b> starting with 893531 on your SIM card. If you have a <b>nano SIM</b> just add 893531 to the start of the code.
</p>
</div>
</div>

</div>
</div>	

</div>
</div>
</div>

</div>
</body>
</html>